{% extends 'admin/base.html.twig' %}

{% block title %}Liste des gérants{% endblock %}

{% block body %}
    <h1>Liste des gérants</h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Gérants
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Mot de passe</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for manager in managers %}
                    <tr>
                        <td>{{ manager.name }}</td>
                        <td>{{ manager.lastname }}</td>
                        <td>{{ manager.email }}</td>
                        <td>{{ manager.password }}</td>

                        <td>
                            <a href="{{ path('manager_list_show', {'id': manager.id}) }}" class="btn btn-outline-info">Plus de détails</a>
                            <a href="{{ path('manager_list_edit', {'id': manager.id}) }}" class="btn btn-outline-info">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('manager_list_new') }}" class="btn btn-info">Créer un nouveau gérant</a>
{% endblock %}
