{% extends 'base.html.twig' %}

{% block title %}Manager{% endblock %}

{% block body %}
    <h1>Manager</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ manager.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ manager.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ manager.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ manager.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ manager.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('manager_list') }}">back to list</a>

    <a href="{{ path('manager_list_edit', {'id': manager.id}) }}">edit</a>

    {{ include('manager/_delete_form.html.twig') }}
{% endblock %}
