{{ form_start(form) }}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Etablissements
        </div>
    <div class="card-body">
    {{ form_widget(form) }}

        {# if route is "establishment_edit show images #}
        {% if app.request.attributes.get('_route') == 'establishments_list_edit' %}
            {% for image in images %}
                <div>
                    <img src={{ asset(mainImage) }} alt="{{ mainImage.name }}">

                    {# We add a link to delete an image (will be managed in Ajax) #}
                    {# <a href="{{ path('establishments_list_delete', {id: mainImage.id})}}" data-delete data-token="{{ csrf_token('delete' ~ images.id )}}">Supprimer</a> #}
                </div>
            {% endfor %}
        {% endif %}
        <button class="btn btn-outline-info">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
