{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'établissement{% endblock %}

{% block body %}
    <h1>Modifier l'établissement</h1>


    <div>
        {{ include('admin/establishments/_form.html.twig') }}
    </div>
    <div class="btn-group">
        <div>
            <button class="btn btn-outline-info">{{ button_label|default('Enregister') }}</button>

        </div>

        <div>
            {{ include('admin/establishments/_delete_form.html.twig') }}
        </div>

        <div>
            <a href="{{ path('establishments_list') }}" class="btn btn-outline-info">Retour à la liste</a>
        </div>



    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
