{% extends 'admin/base.html.twig' %}

{% block title %}Establishments index{% endblock %}

{% block main %}
    <h1>Establishments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Address</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for establishment in establishments %}
            <tr>
                <td>{{ establishment.id }}</td>
                <td>{{ establishment.name }}</td>
                <td>{{ establishment.city }}</td>
                <td>{{ establishment.address }}</td>
                <td>{{ establishment.description }}</td>
                <td>
                    <a href="{{ path('establishments_list_show', {'id': establishment.id}) }}">show</a>
                    <a href="{{ path('establishments_list_edit', {'id': establishment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('establishments_list_new') }}">Create new</a>
{% endblock %}
